<div
  class='swiper-slide color-scheme-3 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
>
  <div class='twcss-absolute twcss-font-bold twcss-text-[3rem] twcss-bottom-[1rem] twcss-right-[1rem] twcss-w-fit'>
    ”
  </div>
  <div class='twcss-absolute twcss-font-bold twcss-text-[3rem] twcss-top-[1rem] twcss-left-[1rem] twcss-w-fit'>“</div>
  <div
    class='twcss-p-[4rem] twcss-flex tw-gap-[2rem] twcss-flex-col twcss-items-start'
  >
    <p
      class='twcss-font-bold twcss-text-[2rem] twcss-text-start twcss-pb-[2.5rem]'
    >
      {{ block.settings.description -}}
    </p>
    <h3
      class='twcss-text-[1.5rem] twcss-font-bold twcss-text-start'
    >
      {{ block.settings.author }}
    </h3>
    <p
      class='twcss-text-[1.5rem] twcss-text-start'
    >
      {{ block.settings.position }}
    </p>
  </div>
</div>
