<div
  class='slide twcss-relative twcss-flex-1 twcss-w-[25%] twcss-m-[1rem] color-scheme-3'
>
  <p class='twcss-absolute twcss-font-bold twcss-text-[3rem] twcss-top-[1rem] twcss-left-[1rem]'>"</p>
  <p class='twcss-absolute twcss-font-bold twcss-text-[3rem] twcss-bottom-[1rem] twcss-right-[1rem] twcss-rotate-180'>
    "
  </p>
  <div
    class='twcss-p-[4rem] twcss-flex tw-gap-[2rem] twcss-flex-col twcss-items-start'
  >
    <p
      class='twcss-font-bold twcss-text-[2rem] twcss-text-start twcss-pb-[2.5rem]'
    >
      {{ block.settings.description -}}
    </p>
    <h3
      class='twcss-text-[1.5rem] twcss-font-bold twcss-text-start'
    >
      {{ block.settings.author }}
    </h3>
    <p
      class='twcss-text-[1.5rem] twcss-text-start'
    >
      {{ block.settings.position }}
    </p>
  </div>
</div>
