<link
  rel='stylesheet'
  href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'
>
<style>
  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
  }

  #carousel-container-1 {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }

  .navigation-buttons-1 .nav-btn-1 {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    border-radius: 15%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    margin: 0 1rem;
  }

  .navigation-buttons-1 .nav-btn-1.swiper-button-disabled {
    display: none;
  }

  .navigation-buttons-1 .previous-1 {
    left: 5rem;
    transform: translate(-100%, -50%);
  }

  .navigation-buttons-1 .next-1 {
    right: 5rem;
    transform: translate(100%, -50%);
  }

  #carousel-container-1:hover .navigation-buttons-1 .nav-btn-1 {
    opacity: 1;
    pointer-events: auto;
  }

  #carousel-container-1:hover .navigation-buttons-1 .previous-1 {
    transform: translate(0, -50%);
  }

  #carousel-container-1:hover .navigation-buttons-1 .next-1 {
    transform: translate(0, -50%);
  }
</style>

<div
  id='carousel-container-1'
  class='twcss-p-[1.5rem] lg:twcss-p-[5rem] swiper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
>
  <div class='navigation-buttons-1'>
    <div class='nav-btn-1 previous-1'>←</div>
    <div class='nav-btn-1 next-1'>→</div>
  </div>
  <h1 class='twcss-font-heading twcss-pb-[3.5rem] twcss-font-bold twcss-text-[3.5rem]'>
    {{ section.settings.title }}
  </h1>
  <div class='swiper-wrapper'>
    {% for block in section.blocks %}
      {% render 'testimonial-item', block: block %}
    {% endfor %}
  </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>

<script>
  var swiper = new Swiper('#carousel-container-1', {
    slidesPerView: 3,
    spaceBetween: 50,
    mousewheel: true,
    grabCursor: 'true',
    navigation: {
      nextEl: '.next-1',
      prevEl: '.previous-1',
    },
    breakpoints: {
      320: {
        slidesPerView: 1.05,
        spaceBetween: 25,
      },
      750: {
        slidesPerView: 2,
      },
      990: {
        slidesPerView: 3,
      },
    },
  });
</script>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "testimonials-section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "What Our Customers Are Saying",
      "label": "Title"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "testimonial_item",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "container_padding",
          "label": "Container Padding (px)",
          "min": 0,
          "max": 100,
          "step": 4,
          "default": 20
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Put your testimonial here"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Jane Doe"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position",
          "default": "Loyal Customer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "blocks": [
        {
          "type": "testimonial_item",
          "settings": {
            "description": "Very Good!",
            "author": "John Doe",
            "position": "Loyal Customer",
            "container_padding": 20
          }
        },
        {
          "type": "testimonial_item",
          "settings": {
            "description": "Very Good!",
            "author": "John Doe",
            "position": "Loyal Customer",
            "container_padding": 20
          }
        },
        {
          "type": "testimonial_item",
          "settings": {
            "description": "Very Good!",
            "author": "John Doe",
            "position": "Loyal Customer",
            "container_padding": 20
          }
        }
      ]
    }
  ]
}
{% endschema %}
